@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Patrick+Hand&family=Playpen+Sans:wght@200;300;400;500;600;700&family=Tilt+Neon&display=swap');


:root {
    --heading-font: "Tilt Neon";
    --body-font: Calistoga;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0;
    padding: 0;
    background-color: black;
    align-items: center;
    display: grid;
    font-family: var(--heading-font);
}

header h1 {
    grid-column: 1/2;
    color: rgb(245, 245, 245);
    margin-left: 30px;
}

body {
    margin: 0;
    padding: 0;
}

#hero-img {
    width: 100%;
    height: auto;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    background-color: black;
    color: #fff;
    text-align: right;
}

#menu::before {
    content: "≡";
}

nav {
    background-color: black;
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
}

nav a {
    display: block;
    color: #fff;
    text-align: right;
    padding: 1rem;
    text-decoration: none;
    font-family: var(--body-font);
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: right;
    text-decoration: none;
    color: #fff;
    font-weight: 1000;
    transition: 0.5s;
    font-size: clamp(1.5rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
    color: #907b45;
    background-color: black;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "≡";
}

footer {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#hero-msg {
    font-family: var(--heading-font);
    text-align: center;
    grid-row: 1/4;
    grid-column: 2/3;
    color: #fff;
    font-size: 3.5vw;
    margin-top: 30px;
}

#hero-box {
    width: 100%;
    height: auto;
    grid-row: 1/4;
    grid-column: 1/4;
}

.regions {
    text-align: center;
}

.regions a {
    display: flex;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 1000;
    transition: 0.5s;
    font-size: clamp(1.5rem, 2vmin, 1.5rem);
}

.regions li {
    display: inline-flex;
}



@media only screen and (min-width: 40em) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: inline-flex;
        flex: 1 1 1;
        margin-left: 30px;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    #hero-msg {
        margin-top: 120px;
    }
}

@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 1;
    }
}

/*Destinations*/